# Python venv with packages
hf-env/

# Testing ignores
tests/access_token
tests/__pycache__/
tests/testing/
tests/out/

# Analysis ignores
analysis/__pycache__/

# Setup temporary files/directories
tmp/